.App {
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: auto;
  width: 100%;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


header > h1 {
  font-weight: 300;
  font-size: 40px;
}

.post-card {
  border: 1px solid whitesmoke;
  box-shadow: 2px 2px 4px 1px gray;
  width: 50%;
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.profile-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-position: center;
  object-fit: initial;
}

.post-btn {
  background-color: rgb(47, 47, 47);
  color: rgba(245, 245, 245, 0.525);
  width: 85%;
  border-radius: 50px;
  text-align: left;
  padding: 0 20px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid gray;
  box-shadow: -2px 4px 10px 1px rgba(255, 132, 0, 0.669);
}

.post-btn:hover {
  border: 2px solid rgb(255, 132, 0);
}

#dlt-btn {
  align-self: last baseline;
  height: 20px;
  cursor: pointer;
}

#post-btn:hover {
  background-color: rgb(35, 35, 35);
}

.modal-wrapper {
  width: 52%;
  height: 350px;
  padding: 30px 0;
  
  display: flex;
  justify-content: center;
  
}

.modal {
  border: 1px solid whitesmoke;
  padding: 20px 40px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: space-between;
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin: 10px auto;
}

.input-box {
  font-size: 16px;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #08AEEA;
  width: 100%;
  height: 200px;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #08AEEA;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.input-box:focus {
  border-color: #08AEEA;
  outline: none;
}

.input-box:focus + .underline {
  transform: scaleX(1);
}

.post-btn2 {
  padding: 10px 20px;
  background-color: black;
  color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
}

.post-btn2:hover {
  background-color: rgb(96, 96, 96);
}

.post-display {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  border: 1px solid gray;
  background-color: rgb(35, 35, 35);
  box-shadow: 2px 2px 4px 1px gray;
  padding: 0 20px;
  width: 100%;
  margin: 30px 0;
  border-radius: 10px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: orangered;
}

h3 {
  color: gray;
}

.item-post {
  color: #08AEEA;
  padding: 40px 0;
  text-align: left;
  border-radius: 10px;
}

.post-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like-btn {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60px;
  height: 30px;
  padding: 0 8px;
  border-radius: 20px;
  margin: 20px 0;
  cursor: pointer;
}

.like-btn:hover {
  border: 1px solid orangered;
  background-color: black;
}

.like-icon {
  height: 20px;
  margin-right: 2px;
}

.post-actions-holder {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-between;
}

.post-actions {
  cursor: pointer;
}

.post-actions:hover {
  transform: scale(1.1);
}